.wrapper {
    align-items: center;
    height: 0vh; 
    position: fixed;
  }
  
  .box {
    top: 200px; 
    left: 375px; 
    position: absolute;
  }

  .blurb {
    min-width: 800px; 
    margin-left: 90px;
  }
  
  .overlap {
    margin-top: 100px;
    left: 0%; 
    position: absolute;
  }

  .text {
    display: flex;
    margin-left: 325px;
  }

  .buttons {
    margin-top: 80px;
    margin-left: 10%;
  }

  .buttons img {
    margin-right: 50px; 
  }
  

.buttons {
  display: flex;
  justify-content: space-around; 
}

.buttons button {
  border: none; 
  background-color: transparent; 
  cursor: pointer; 
  padding: 0; 
}


.buttons button:focus {
  outline: none; 
}

.headboard {
  display: flex;
  position: absolute;
}

