.wrapper {
    align-items: center;
    height: 0vh; 
  }
  
  .container {
    top: 150px; 
    left: 450px; 
    position: relative;
    width: 50%; 
    height: auto;
    justify-content: center;
    display: flex;
  }
  
  .overlap {
    top: 20%;
    left: 5%; 
    position: absolute;
  }

  .buttons {
    margin-top: 50px;
    margin-left: 50px;
  }

  .buttons img {
    margin-right: 50px; 
  }
  
  .piazzolla-overlap {
  font-family: "Piazzolla", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.buttons {
  display: flex;
  justify-content: space-around; 
}

.buttons button {
  border: none; 
  background-color: transparent; 
  cursor: pointer; 
  padding: 0; 
}


.buttons button:focus {
  outline: none; 
}


