.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headboard {
  position: relative; /* Ensure it serves as a positioning context for .overlap */
  width: 100%; /* Adjust width as necessary */
  display: flex;
  justify-content: center;
  z-index: 1; /* Ensure it's below the overlap content */
}

.overlap {
  position: absolute; /* Position relative to the .headboard */
  top: 20%; 
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Offset to center */
  z-index: 2; /* Ensure it is on top of the headboard */
  width: 100%; /* Ensure it spans the same width as the headboard */
  text-align: center; /* Center the content inside */
  max-width: 700px;
}

.text {
  margin: 0 auto; /* Center the text inside .overlap */
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.blurb {
  margin-top: 20px; /* Add spacing between text and the blurb */
  font-size: 20px;
  text-align: center;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.buttons img {
  margin: 0; 
}

.buttons button {
  border: none; 
  background-color: transparent; 
  cursor: pointer; 
  padding: 0; 
}

.buttons button:focus {
  outline: none; 
}

.button-text {
  margin-top: 10px; /* Adjust spacing */
  text-align: center; /* Center button text */
}
