 .right {
    display: flex; 
    flex-direction: row-reverse;
    text-align: right; 
    height: 100vh;
    margin-bottom: 0;
  }
  .left {
    display: flex; 
    flex-direction: row;
    text-align: left; 
    height: 100vh;
    margin-bottom: 0;
  }

  .right .text {
    margin-right: 100px;
    margin-left: 0;
  }

  .left .text {
    margin-left: 100px;
  }
  
  .image {
    max-width: 800px; 
    height: 600px; 
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }

  .left .image:hover, .right .image:hover {
    transform: scale(1.05); 
  }
  
  .text {
    display: flex;
    flex-direction: column; 
  }

  .link {
    background-color: white; 
    color: black; 
    padding: 15px 25px;
    text-decoration: none;
    max-width: 120px;
  }
  .link:hover {
    background-color: antiquewhite; 
    transform: scale(1.05); 
  
  }

  .right .link{
    margin-left: auto;
  }

  .left .link {
    margin-right: auto;
  }

  .right .image {
    margin-left: 100px;
    margin-right: 100px;
  }

  .left .image {
    margin-right: 100px;
    margin-left: 100px;
  }
  