.container {
    padding: 120px;
    display: grid; 
    margin-right: 100px;
  }
  
  .link {
    margin-right: 10px;
    text-decoration: none;
    color:#d3c2ac; 
  }
  
  .image {
    width: 100px;
    height: 100px;
  }
  